.vscode/**
.vscode-test/**
.claude/**
.github/**
src/**
webview/**
screenshots/**
node_modules/**
.gitignore
.yarnrc
.eslintrc.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**/*.js
vite.config.*
